/* div {
    border: 2px double blue;
} */

#container {
    display: flex;
    min-height: 100vh;
}

#valIcon {
    width: 400px;
    object-fit: cover;
}

#imageSideBar {
    display: flex;
}

#mainForm {
    background-color: aliceblue;
}

.form-row {
    padding: 6px;
    margin-bottom: 6px;
}

#disclaimer {
    padding-left: 6px;
}

#blurb {
    padding-left: 6px;
    font-size: 20px;
}

#valorantAgent {
    font-size: larger;
}

input[type=text], input[type=email], input[type=password], textarea {
    border-radius: 10px;
}

textarea {
    resize: vertical;
    font-size: larger;
}

.textBox * {
    vertical-align: top;
}

.form-center {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-row.textBox {
    font-size: larger;
}